public_html/.htaccess
public_html/config.php
public_html/admin/config.php

public_html/download/
public_html/image/
public_html/system/cache/
public_html/system/logs/
public_html/video/

storage/cache/
storage/download/
storage/modification/
storage/session/
storage/logs/

# vQmod log files
public_html/vqmod/logs/*
# vQmod cache files
public_html/vqmod/vqcache/*
public_html/vqmod/checked.cache
public_html/vqmod/mods.cache
