<a href="tel:+{{ href_phone }}"><i class="fa fa-phone"></i>{{ phone }}</a>


<a href="https://wa.me/" >
    <img style="height: 20px;" src="/image/catalog/logo/WhatsApp.png">
</a>
<a   href="viber://chat?number=%2B{{ href_phone }}">
    <img style="height: 20px;" src="/image/catalog/logo/viber.png">
</a>
