<div id="cart" class="btn-group btn-block">
  <a href="{{ simple_cart }}">
  <button type="button"  data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg "><i class="fa fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>

  </a>

</div>
